<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
</head>
<body>
    <div class="container">
        <form class="form" action="/login" method="GET" id="login">
            <h1 class="form__title">Login</h1>
            <div class="form__message form__message--error"></div>
            <div class="form__input-group">
                <input type="text" class="form__input" autofocus placeholder="Username or email" name="username" required>
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" placeholder="Password" name="password" required>
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="submit">Submit</button>
            <p class="form__text">
                <a href="#" class="form__link">Forgot your password</a>
            </p>
            <p class="form__text">
                <a class="form__link" href="./" id="linkCreateAccount" >No Account? Create Account?</a>
            </p>
        </form>

        <form class="form form--hidden" method="POST" id="createAccount">
            <h1 class="form__title">Create Account</h1>
            <div class="form__message form__message--error"></div>
            <div class="form__input-group">
                <input type="text" id="signupUsername" class="form__input"  placeholder="Username" name="createUsername" required>
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="text" class="form__input"  placeholder="Email Address" name="emailAddress" required>
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" placeholder="Password" name="password" required>
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" class="form__input" placeholder="Confirm Password" name="confirmPassword" required>
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="submit">Submit</button>
            <p class="form__text">
                <a class="form__link" href="./" id="linkLogin">Already have Account? Sign In</a>
            </p>
        </form>
    </div>
    <script src="main.js"></script>
</body>
</html>